<div class="about_area" style="background-color: #e0e9ea;">
  <!-- header section starts -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="/">
          <span style=" font-size: 2.5rem; color: #FFD700; letter-spacing: 1px;">
            Wizard Workshop
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/" style="color: #EDEAE5;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#workshop" style="color: #EDEAE5;">Workshops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about" style="color: #EDEAE5;">About</a>
            </li>
          </ul>
          <div class="user_option">
            <a href="#book" class="order_online" style="background-color: #FCE181; color: #026670;">
              Booking Online
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <!-- About Section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 style="color: #094351; font-family: 'Playfair Display', serif;">
          About Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/OIP2.jpg" alt="About Us Image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <p style="color: #2A363B; font-size: 1.1rem;">
              At Wizard Workshop, we aim to bring people together through creativity and learning. Our wide variety of
              workshops, ranging from candle-making to canvas painting, are designed to be fun and relaxing, allowing
              everyone to tap into their inner artist. Whether you're a beginner or an experienced crafter, there's a
              place for you here!
            </p>
            <p style="color: #2A363B; font-size: 1.1rem;">
              Located in the heart of the city, we provide all the tools and guidance you need to make something truly
              special. We believe that creativity is for everyone, and our team is dedicated to helping you create
              lasting memories and beautiful projects.
            </p>
            <a href="/menu" class="btn1" style="background-color: #FCE181; color: #055762;">
              View Workshops
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="footer_container">
        <div class="row">
          <div class="col-md-6 footer-col">
            <h4 style="color: #9FEDD7;">
              About Us
            </h4>
            <p style="color: #EDEAE5;">
              Our workshop provides a creative and welcoming space for individuals to explore their artistic side. We
              offer various workshops, from candle-making to canvas painting, and more!
            </p>
          </div>
          <div class="col-md-6 footer-col">
            <h4 style="color: #9FEDD7;">
              Contact
            </h4>
            <div class="contact_link_box">
              <a href="" style="display: block; margin-bottom: 10px; color: #d1e2e4; text-decoration: none;">
                <i class="fa fa-map-marker" aria-hidden="true" style="margin-right: 10px;"></i>
                <span>Location</span>
              </a>
              <a href="" style="display: block; margin-bottom: 10px; color: #d1e2e4; text-decoration: none;">
                <i class="fa fa-phone" aria-hidden="true" style="margin-right: 10px;"></i>
                <span>Call +01 1234567890</span>
              </a>
              <a href="" style="display: block; margin-bottom: 10px; color: #d1e2e4; text-decoration: none;">
                <i class="fa fa-envelope" aria-hidden="true" style="margin-right: 10px;"></i>
                <span>demo@gmail.com</span>
              </a>
            </div>
            <div class="footer_social" style="margin-top: 10px;">
              <a href="" style="color: #026670;">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer section -->
</div>